.DS_Store
.*~

# intermediate simulation data of subjects
subjects/swallow_CT04mm/inverse/*
subjects/speech_subject*/inverse/*
subjects/speech_subject*/registration/*
subjects/swallow_CT04mm/registration/*
subjects/speech_MRI/inverse/*
subjects/speech_MRI/registration/*
subjects/template
subjects/swallow_CT04mm/data

# test code
subjects/*.java



